@using web_app_asp_net_mvc_database_first.Models
@model CinemaViewModel

<h3>Кинотеатр</h3>

@using (Html.BeginForm("Create", "Cinemas", FormMethod.Post))
{
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Cinemas")
}